---
layout: default
title: Projects | Chye Ping Hwa
---
	<h1>Projects</h1>
	<div class="projects">
	<!-- <ul class="projects"> -->
	  {% assign sorted_pages = site.pages | sort:"order" %}
	  {% for page in sorted_pages %}
		  {% if page.categories contains 'project' %}
			<div id="{{ page.title }}">
				<h2>{{ page.title }} </h2>
				{{ page.content }}
				<a href="{{ page.link }}" target="_blank">{{ page.linktext }}</a>
			</div>
			<!--<li><span>{{ page.title}}</span> &raquo; <a href="{{ page.url }}" title="{{ page.title }}">{{ More }}</a></li>-->
		  {% endif %}
		{% endfor %}
	<!-- </ul> -->
	</div>
	<p><small>Note: This page is still under construction.</small></p>