<!DOCTYPE html>
	<html>
		{% include head.html %}
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><a href="https://www.linkedin.com/in/phchye">LinkedIn</a></li>
	        		<!--<li><a href="mailto:ph.chye">Email</a></li> -->
	        		<!--<li><a href="https://github.com/phchye">github</a></li> -->
				</ul>
			</footer>
		</body>
	</html>